*{
    margin: 0;
    padding: 0;
    border: 0;
}

.texto{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 2em;
}

.link{
    text-decoration: none;
    color: var(--cor-preta);
}

.link:hover{
    color: green;
}
